:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.7 0.18 104.561);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.95 0.05 104.561);
  --secondary-foreground: oklch(0.3 0.1 104.561);
  --muted: oklch(0.95 0.02 104.561);
  --muted-foreground: oklch(0.5 0.05 104.561);
  --accent: oklch(0.95 0.05 104.561);
  --accent-foreground: oklch(0.3 0.1 104.561);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
}

.dark {
  --background: oklch(0.000 0.000 0.000);
  --foreground: oklch(0.832 0.015 43.985);
  --card: oklch(0.12 0.01 104);
  --card-foreground: oklch(1.000 0.000 263.283);
  --popover: oklch(0.12 0.01 104);
  --popover-foreground: oklch(1.000 0.000 263.283);
  --primary: oklch(0.926 0.195 104.561);
  --primary-foreground: oklch(0.000 0.000 0.000);
  --secondary: oklch(0.20 0.01 104);
  --secondary-foreground: oklch(1.000 0.000 263.283);
  --muted: oklch(0.15 0.01 104);
  --muted-foreground: oklch(0.70 0.01 104);
  --accent: oklch(0.315 0.087 281.076);
  --accent-foreground: oklch(1.000 0.000 263.283);
  --destructive: oklch(0.579 0.136 336.939);
  --border: oklch(1.000 0.000 263.283 / 6%);
  --input: oklch(0.000 0.000 0.000);
  --ring: oklch(0.926 0.195 104.561);
  --chart-1: oklch(0.464 0.078 219.573);
  --chart-2: oklch(0.753 0.207 146.722);
  --chart-3: oklch(0.926 0.195 104.561);
  --chart-4: oklch(0.579 0.136 336.939);
  --chart-5: oklch(0.632 0.254 21.746);
  --sidebar: oklch(0.000 0.000 0.000);
  --sidebar-foreground: oklch(1.000 0.000 263.283);
  --sidebar-primary: oklch(0.926 0.195 104.561);
  --sidebar-primary-foreground: oklch(0.000 0.000 0.000);
  --sidebar-accent: oklch(1.000 0.000 263.283 / 6%);
  --sidebar-accent-foreground: oklch(1.000 0.000 263.283);
  --sidebar-border: oklch(0.5 0 0);
  --sidebar-ring: oklch(0.315 0.087 281.076);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
}