@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 97.6471%);
  --foreground: hsl(0 0% 22.7451%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 22.7451%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 22.7451%);
  --primary: hsl(0 0% 37.6471%);
  --primary-foreground: hsl(0 0% 94.1176%);
  --secondary: hsl(0 0% 87.0588%);
  --secondary-foreground: hsl(0 0% 22.7451%);
  --muted: hsl(0 0% 89.0196%);
  --muted-foreground: hsl(0 0% 31.3725%);
  --accent: hsl(47.4419 64.1791% 86.8627%);
  --accent-foreground: hsl(14.2105 25.6757% 29.0196%);
  --destructive: hsl(0 41.4894% 63.1373%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0.8696% 45.0980%);
  --input: hsl(0 0% 100%);
  --ring: hsl(0 0% 62.7451%);
  --chart-1: hsl(0 0% 20%);
  --chart-2: hsl(0 0% 33.3333%);
  --chart-3: hsl(0 0% 46.6667%);
  --chart-4: hsl(0 0% 60%);
  --chart-5: hsl(0 0% 73.3333%);
  --sidebar: hsl(0 0% 94.1176%);
  --sidebar-foreground: hsl(0 0% 22.7451%);
  --sidebar-primary: hsl(0 0% 37.6471%);
  --sidebar-primary-foreground: hsl(0 0% 94.1176%);
  --sidebar-accent: hsl(47.4419 64.1791% 86.8627%);
  --sidebar-accent-foreground: hsl(14.2105 25.6757% 29.0196%);
  --sidebar-border: hsl(0 0% 75.2941%);
  --sidebar-ring: hsl(0 0% 62.7451%);
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: "Times New Roman", Times, serif;
  --font-mono: "Courier New", Courier, monospace;
  --radius: 0.625rem;
  --shadow-x: 1px;
  --shadow-y: 4px;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.03;
  --shadow-color: #000000;
  --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
  --tracking-normal: 0.5px;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(0 0% 16.8627%);
  --foreground: hsl(0 0% 86.2745%);
  --card: hsl(0 0% 20%);
  --card-foreground: hsl(0 0% 86.2745%);
  --popover: hsl(0 0% 20%);
  --popover-foreground: hsl(0 0% 86.2745%);
  --primary: hsl(0 0% 69.0196%);
  --primary-foreground: hsl(0 0% 16.8627%);
  --secondary: hsl(0 0% 35.2941%);
  --secondary-foreground: hsl(0 0% 75.2941%);
  --muted: hsl(0 0% 27.0588%);
  --muted-foreground: hsl(0 0% 62.7451%);
  --accent: hsl(0 0% 87.8431%);
  --accent-foreground: hsl(0 0% 20%);
  --destructive: hsl(0 35.5932% 76.8627%);
  --destructive-foreground: hsl(0 0% 16.8627%);
  --border: hsl(0 0% 30.9804%);
  --input: hsl(0 0% 20%);
  --ring: hsl(0 0% 75.2941%);
  --chart-1: hsl(0 0% 93.7255%);
  --chart-2: hsl(0 0% 81.5686%);
  --chart-3: hsl(0 0% 69.0196%);
  --chart-4: hsl(0 0% 56.4706%);
  --chart-5: hsl(0 0% 43.9216%);
  --sidebar: hsl(0 0% 12.9412%);
  --sidebar-foreground: hsl(0 0% 86.2745%);
  --sidebar-primary: hsl(0 0% 69.0196%);
  --sidebar-primary-foreground: hsl(0 0% 12.9412%);
  --sidebar-accent: hsl(0 0% 87.8431%);
  --sidebar-accent-foreground: hsl(0 0% 20%);
  --sidebar-border: hsl(0 0% 30.9804%);
  --sidebar-ring: hsl(0 0% 75.2941%);
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-x: 1px;
  --shadow-y: 4px;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.03;
  --shadow-color: #000000;
  --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}